<%- include("header"); -%>

    <div class="main-content">
        <h3><%= item.name %></h3>
        <p><%= item.desc %></p>
        <p>Price <%= item.price %></p>
        <p>Amount in stock: <%= item.amount %></p>
        <p>Category: <%=item.category %></p>
    </div>


    <%- include("footer"); -%>